/* ! General Style */

body {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

.btn:hover {
  background-color: #35031b;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn:focus {
  /* outline: none !important; */
  box-shadow: none !important;
}

/* ! Mini Nav DropDown */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none; /* إزالة التسطير تحت الروابط */
  color: inherit; /* استخدام نفس لون النص */
  display: block; /* لجعل العنصر يأخذ عرض القائمة بالكامل */
}

.dropdown-content.show {
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.selected-currency,
.selected-language {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selected-currency img {
  margin-top: 1px;
}

.currency-option,
.language-option {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ! Mobile Nav Dropdowns */
.resp-currency-dropdown,
.resp-language-dropdown {
  position: relative;
  display: inline-block;
}

.resp-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow-x: hidden;
}

.resp-dropdown-content.show {
  display: block; /* Show the dropdown when 'show' class is added */
  margin-right: -33px;
}
.resp-dropdown-content.resp-dropdown-curr {
  margin-right: 0px !important;
}

.resp-currency-option,
.resp-language-option {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  background-color: #620733;
  text-align: right;
}

.resp-language-option {
  padding-left: 40px !important;
}

.resp-currency-option:hover,
.resp-language-option:hover {
  background-color: #35031b; /* Darker background on hover */
}

.selected-resp-currency,
.selected-resp-language {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.selected-resp-currency img,
.selected-resp-language img {
  margin-right: 8px;
}

.info-country {
  display: flex;
  align-items: center;
}

.info-country img {
  margin-right: 5px;
}
.info-resp .info-country {
  text-align: left;
  /* margin-left: 40px; */
}

.perfume-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.perfume-dropdown.show {
  display: block;
  background-color: #620733;
  margin-top: -12px !important;
  margin-right: -5px;
}

.perfume-dropdown a {
  margin-bottom: 0 !important;
  border-bottom: 0.5px solid #736f6f9e;
}

.resp-perfume-option {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  background-color: #620733;
  text-align: right;
}

.resp-perfume-option:hover {
  background-color: #35031b;
}

/* ! Main Nav */

.main-nav {
  background-color: #620733;
}

/* !logo */
.logo {
  transform: translate(10px, 25px);
  -webkit-transform: translate(10px, 25px);
  -moz-transform: translate(10px, 25px);
  -ms-transform: translate(10px, 25px);
  -o-transform: translate(10px, 25px);
}

.logo img {
  width: 200px;
}

/* ! logo responsive */

@media screen and (max-width: 1190px) {
  .logo img {
    width: 150px;
  }
}

/* ! Search Navbar */
.search-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 15px;
  width: 700px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  padding: 5px;
  direction: rtl;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
}

/* ! Nav Icons */

.nav-icons {
  border: 1px solid white;
  font-size: 20px;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* ! NavIcons responsive */

@media screen and (max-width: 1190px) {
  .nav-icons {
    font-size: 15px;
  }

  .nav-icons-number::after {
    font-size: 10px !important;
    width: 15px !important;
    height: 15px !important;
  }
}

.nav-icons-number {
  position: relative;
}

.nav-icons-number::after {
  content: '5';
  position: absolute;
  font-size: 12px;
  top: -10px;
  right: -5px;
  background-color: white;
  color: black;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ! Search Navbar responsive */

@media screen and (max-width: 1190px) {
  .search-container {
    width: 450px;
  }

  .search-input {
    font-size: 13px;
  }
}

@media screen and (max-width: 990px) {
  .search-container {
    width: 350px;
  }

  .search-input {
    font-size: 11px;
  }
}

/* ! Navbar Menu */

.navbar-menu {
  gap: 80px;
  list-style: none;
  margin-top: -10px;
}

.main-nav,
.navbar-menu {
  margin: 0;
  padding: 0;
}
.navbar-menu li a {
  text-decoration: none;
  color: white;
}

/* ! Navbar Menu responsive */

@media screen and (max-width: 1190px) {
  .navbar-menu {
    gap: 30px;
  }
}

@media screen and (max-width: 990px) {
  .navbar-menu {
    gap: 20px;
  }
}

/* ! Navbar Menu DropDown */

.desktop-perfume-dropdown-toggle {
  position: relative;
}

.desktop-perfume-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow-x: hidden;
  top: 100%;
  left: 0;
}

.show-desktop-dropdown {
  display: block;
  z-index: 99999 !important;
  margin-left: -50px;
}

/* Styling for options inside the dropdown */
.desktop-perfume-option,
.desktop-perfume-dropdown-content a {
  padding: 8px 12px;
  color: #620733 !important;
  text-align: right;
  background-color: #f8f9fa;
  cursor: pointer;
  text-decoration: none; /* Remove underline from links */
  display: block; /* Ensure each option takes full width */
}

.desktop-perfume-option:hover,
.desktop-perfume-dropdown-content a:hover {
  background-color: #35031b;
  color: white !important;
  transition: all 0.2s ease;
}

/** =================================================================== */

/* ! Responsive Main Navbar */

.burger-icon {
  color: #620733;
}

/* ! Responsive Logo */
.resp-logo img {
  transform: translateX(-15px);
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  width: 150px;
}

/* ! Responsive Icons */
.resp-icons i {
  font-size: 20px;
  color: #620733;
}

/* ! Responsive Search Icon */
.search-resp-icon {
  cursor: pointer;
}

/* ! Responsive search bar styling */
.resp-search-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 10px;
  background-color: #620733;
  margin-bottom: 20px;
}

.resp-search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 13px;
  padding: 5px;
  direction: rtl;
}

.resp-search-input::placeholder {
  color: #ffffff;
}

.bag-num {
  position: relative;
}
.bag-num::after {
  content: '5';
  position: absolute;
  font-size: 6px;
  color: white !important;
  padding: 6px;
  top: -3px;
  right: -5px;
  background-color: red;
  color: black;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*! Toggle Menu */
.toggle-menu {
  background: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

/* ! Show menu when active */
.toggle-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  overflow-x: hidden !important;
  width: 100%;
}

/*! Close Btn */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 25px;
}

/*! Example style for menu items if needed */
.toggle-menu .menu-items {
  color: white;
  text-align: right;
  padding-top: 60px;
  margin-right: 25px;
}

.toggle-menu .menu-items a {
  text-decoration: none;
  list-style: none;
  color: white;
  display: block;
  margin-bottom: 15px;
  /* width: fit-content; */
}

/* ! Info Resp Nav  */

.info-resp {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 15px;
}

.info-resp .info-num {
  text-align: right;
}

.info-resp .info-country {
  text-align: left;
}

/* *====================================================== */

/* ! Hero Section */

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-section::before {
  z-index: -1;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-image: linear-gradient(to bottom, #000000 0%, #000000 100%);
}
.hero-section .hero-slider {
  position: relative;
  overflow: hidden;
}
.hero-section .hero-slider .item {
  height: 700px;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  z-index: 1000;
}

.hero-btn:hover {
  background-color: #35031b !important;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.item a {
  position: absolute;
  top: 40%;
  padding: 10px;
  right: 5%;
  font-size: 40px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-align: center;
  margin-top: 100px;
  border: 3px solid white;
  width: 500px;
}

/* ! hero content Responsive  */
@media only screen and (max-width: 1068px) {
  .hero-content {
    font-size: 40px;
  }
  .item a {
    font-size: 30px;
    width: 400px;
    margin-top: 10px;
  }
 
}

@media only screen and (max-width: 768px) {
  .hero-content {
    font-size: 30px;
    text-align: center;
    top: 35%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 500px;
    
  }
  .img-cover {
    height: 500px !important;
  }
  .item a {
    font-size: 20px;
    width: 300px;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
  }

}

/** =================================================================== */

/* ! Category Section */
.category-section {
  padding-top: 100px;
  padding-bottom: 50px;
}

.category-section .category-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.category-section .category-item img {
  width: 250px;
  height: 150px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.category-section .category-item h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.2em;
}

/* ! Best Seller Section*/

.best-sellar-sec {
  margin-bottom: 80px;
}
.best-sellar-sec .container h2 {
  color: #620733;
}

.card-body .btn {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: black;
}

.card a:hover {
  color: white !important;
}

@media screen and (max-width: 768px) {
  .card-body button {
    font-size: 13px;
  }
  .card .heart-icon {
    font-size: 15px !important;
    padding: 5px !important;
  }
}

.card {
  border: none;
  position: relative;
}

.card .heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid white;
  color: black;
}

/** =================================================================== */

/* ! Daily Offers Section*/

.daily-offers-sec {
  margin-bottom: 80px;
}
.daily-offers-sec .container h2 {
  color: #620733;
}

.daily-offers-sec .card .discount {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  background: red;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card-body {
  padding: 1rem 0;
}

@media screen and (max-width: 768px) {
  .card .discount {
    font-size: 13px;
    padding: 5px !important;
  }
}

.out-of-stock {
  cursor: inherit !important;
}

/** =================================================================== */

/* ! Banner Section */

.banner-sec {
  margin-bottom: 80px;
}
.banner-text {
  color: #fff;
  padding: 10px;
  text-align: right;
}
.btn-shop-now {
  background-color: #ffffff;
  color: #000;
  font-weight: bold;
}
.product-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.product-card {
  text-align: center;
}
.btn-discover {
  background-color: #620733;
  color: #fff;
  width: 50%;
  margin: auto;
  margin-top: -40px !important;
}
.btn-discover:hover {
  background-color: #35031b;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.banner-text {
  position: absolute;
  right: 10% !important;
  width: 500px;
  top: 30%;
}

.btn-shop-now {
  position: absolute;
  right: 5% !important;
  top: 60%;
  font-size: 30px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .btn-shop-now {
    font-size: 12px;
    margin-top: 20px !important;
  }
  .banner-text {
    width: 300px;
  }
  .banner-text h2 {
    font-size: 17px;
  }
  .btn-discover {
    font-size: 8px;
  }
}

/** =================================================================== */

/* ! Why Us Section */
.why-us-sec {
  margin-bottom: 80px;
}
.why-us-sec h2 {
  color: #620733;
}
.why-us-sec .card-body img {
  width: 50px;
}

.why-us-sec .card-body h3 {
  color: #620733;
  font-size: 20px;
  margin-top: 10px;
}
.why-us-sec .card-body p {
  color: #620733;
}

.why-us-sec .card {
  margin: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .why-us-sec .card {
    width: 350px;
  }
}

/** =================================================================== */

/* ! Testimonials Section */

.testimonials-sec {
  padding-bottom: 60px;
}

.testimonials-sec h2 {
  color: #620733;
}
.testimonials-sec .stars {
  font-size: 35px;
}
.testimonial-text {
  font-size: 1.2rem;
  color: #555;
}
.testimonial-author {
  font-weight: bold;
  color: #666;
  margin-bottom: 10px !important;
}
.stars {
  color: #f39c12;
  margin-bottom: 10px;
}

.carousel-inner .carousel-item {
  min-height: 200px;
}

.carousel-indicators {
  bottom: -10px;
}
@media screen and (max-width: 768px) {
  .carousel-indicators {
    bottom: -40px;
  }
}
.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: #555 !important;
  opacity: 0.5 !important;
  border: none !important;
  margin: 0 5px !important;
}

.carousel-indicators .active {
  background-color: black !important;
  opacity: 1 !important;
}

/** =================================================================== */

/* ! Discount Section */

.discount-section {
  background-color: #620733;
  color: #fff;
  margin-bottom: 80px;
}

.discount-text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 120px !important;
}

.input-group .form-control {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 14px;
  position: relative;
}
.input-group .form-control::placeholder {
  color: black;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .input-group .form-control::placeholder {
    font-size: 12px;
  }
  .input-group .btn {
    width: 90px;
    font-size: 10px;
    top: 15px !important;
  }
  .input-group .form-control::placeholder {
    color: black;
    font-size: 10px;
  }
  .discount-text {
    font-size: 1.2rem;
    margin-left: 0px !important;
  }
}

.input-group .btn {
  position: absolute;
  left: 30px;
  top: 10px;
  background: #620733;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  z-index: 300;
}

/** =================================================================== */

/* ! Footer */

.footer {
  padding-top: 80px !important;
  background-color: #620733;
}

.f-r-side p {
  color: white;
  width: 500px;
  text-align: center;
  display: inline-flex;
  margin-right: -100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.f-r-social-icons ul {
  list-style: none;
  margin-right: -10px;
  color: white;
}

.f-r-social-icons ul li i {
  font-size: 20px !important;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

/* ! right Side */
.f-r-side {
  width: 45%;
}

/* ! Left Side */
.f-l-side {
  width: 45%;
  color: white;
  justify-content: left;
}

.f-l-side ul li {
  margin-bottom: 20px;
}

.square-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  margin-right: -55px;
  margin-left: 25px;
}

li {
  list-style: none;
}

.footer-payment {
  position: absolute;
  bottom: 30px;
  left: 5%;
}

.copyright {
  margin-bottom: 50px;
}

/* ! Responsive Footer */

@media (max-width: 1100px) {
  .footer .container {
    flex-direction: column;
    align-items: center !important;
    text-align: center !important;
  }

  .f-r-side {
    order: 1;
    width: 100%;
    text-align: center;
    align-items: normal !important;
  }
  .f-r-side img {
    width: 100%;
  }

  .f-r-social-icons ul {
    padding: 0 !important;
  }
  .f-r-social-icons ul li {
    margin: 0 auto !important;
  }

  .footer-logo {
    max-width: 250px;
  }

  .f-l-side {
    order: 2;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
    justify-content: center;
  }
  .f-l-side ul li {
    position: relative;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 1.5;
    text-wrap: wrap;
  }
  .square-box {
    position: absolute;
    left: 85%;
    top: 50%;
    /* transform: translateY(-50%); */
    width: 5px;
    height: 5px;
    background-color: white;
  }

  .footer-payment img {
    width: 100%;
    max-width: 150px;
    margin-left: 50px;
  }
  .f-l-side h3 {
    font-size: 16px;
    font-weight: bold;
  }

  .f-r-side p {
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    /* text-wrap: wrap; */
  }
  .f-r-text {
    width: 50%;
    margin: 0 auto;
  }

  .footer-payment {
    order: 3;
    width: 100%;
    text-align: center !important;
    position: relative !important;
    margin-top: 20px;
    left: 0 !important;
  }
  .f-r-social-icons ul li i {
    font-size: 15px !important;
    padding: 8px;
  }
  .copyright {
    order: 4;
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
}
